<template>
    <v-container>
      <v-card>
        <v-card-title>
          Cours de mathématique
        </v-card-title>
        <v-card-text>
          Je donne des cours de mathématique en statistique
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <span class="caption">Gautier DELEGLISE</span>
        </v-card-actions>
      </v-card>
    </v-container>
</template>

<script>
export default {
  name: 'Collab'
}
</script>

<style scoped>

</style>
