<template>
  <v-container>
    <v-card>
      <v-card-title class="headline">
        Connexion
      </v-card-title>
      <v-card-text>
        <v-text-field
          required
          label="Nom d'utilisateur"
          v-model="username"
        />
        <v-text-field
          required
          type="password"
          label="Mot de passe"
          v-model="password"
        />
      </v-card-text>
      <v-card-actions>
        <v-spacer/>
        <v-btn
          type="submit"
          color="primary"
          @click="login"
        >
          Se connecter
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Login',
  computed: {
    username: {
      get () {
        return this.$store.state.user.username
      },
      set (value) {
        this.$store.commit('user/setUsername', value)
      }
    },
    password: {
      get () {
        return this.$store.state.user.password
      },
      set (value) {
        this.$store.commit('user/setPassword', value)
      }
    }
  },
  methods: {
    ...mapActions('user', ['login'])
  }
}
</script>

<style scoped>

</style>
