<template>
  <v-container>
    <v-card>
      <v-card-title class="display-1">
        Mes points
      </v-card-title>
      <v-card-text
        class="text-center display-4"
      >
        805
      </v-card-text>
    </v-card>
    <v-list>
      <v-list-item>
        <v-list-item-content>
          Connexion hebdomadaire
        </v-list-item-content>
        <v-list-item-action-text
          class="headline"
        >
          + 10
        </v-list-item-action-text>
      </v-list-item>
      <v-divider/>
      <v-list-item>
        <v-list-item-content>
          Connexion hebdomadaire
        </v-list-item-content>
        <v-list-item-action-text
          class="headline"
        >
          + 10
        </v-list-item-action-text>
      </v-list-item>
    </v-list>
  </v-container>
</template>

<script>
export default {
  name: 'Points'
}
</script>

<style scoped>

</style>
