<template>
    <v-container>
      <v-expansion-panels>
        <v-expansion-panel>
          <v-expansion-panel-header>Prime d'activité</v-expansion-panel-header>
          <v-expansion-panel-content>
            Dossier nécessaires: ....<br>
            La prime d'activité remplace le RSA activité et la prime pour l'emploi. Les salariés et fonctionnaires de 18 ans ou plus peuvent en bénéficier sous certaines conditions. La demande de prime d'activité se fait via un téléservice ou auprès de la Caf ou de la CMSA.
            <div class="text-right">
              <v-btn @click="mailTo({body: 'Madame, Monsieur, ...'})" class="primary">
                <v-icon>fa-envelope</v-icon>
              </v-btn>
            </div>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-container>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Processes',
  methods: mapActions('processes', ['mailTo'])
}
</script>

<style scoped>

</style>
