<template>
    <v-container>
      <v-card>
        <v-card-title>
          Mon profil
        </v-card-title>
        <v-card-text>
          <v-text-field
            required
            label="Nom"
            v-model="name"
          />
          <v-text-field
            required
            label="Prénom"
            v-model="firstName"
          />
        </v-card-text>
      </v-card>
      <v-card class="mt-3">
        <v-card-title>
          Mes succès
        </v-card-title>
        <v-card-text>
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-icon v-on="on">fa-play</v-icon>
            </template>
            <span>Connexion 10 jours d'affilé</span>
          </v-tooltip>
        </v-card-text>
      </v-card>
    </v-container>
</template>

<script>
export default {
  name: 'Profile',
  computed: {
    name: {
      get () {
        return this.$store.state.user.name
      },
      set (value) {
        this.$store.commit('user/setName', value)
      }
    },
    firstName: {
      get () {
        return this.$store.state.user.firstName
      },
      set (value) {
        this.$store.commit('user/setFirstName', value)
      }
    }
  }
}
</script>

<style scoped>

</style>
