<template>
  <div class="text-center">
    <v-menu
      :close-on-content-click="true"
      :nudge-width="200"
      offset-y
      offset-x
    >
      <template v-slot:activator="{ on }">
        <v-btn
          icon
          v-on="on"
        >
          <v-icon>fa-bell</v-icon>
        </v-btn>
      </template>

      <v-card>
        <v-list>
          <v-list-item>
            <v-list-item-title>HH le 06/12 à CPE Lyon</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>La bibliothèque est fermée jusqu'au 03 septembre</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-card>
    </v-menu>
  </div>
</template>

<script>
export default {
  name: 'Notfications'
}
</script>

<style scoped>

</style>
