<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      absolute
      temporary
    >

      <v-list dense>

        <v-list-item
          @click="$router.push({name: 'profile'})"
          link
        >
          <v-list-item-icon>
              <v-icon>fa-user</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Profil</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          @click="$router.push({name: 'processes'})"
          link
        >
          <v-list-item-icon>
              <v-icon>fa-cogs</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Process</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          @click="$router.push({name: 'collab'})"
          link
        >
          <v-list-item-icon>
              <v-icon>fa-hands-helping</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Collaboration</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          @click="$router.push({name: 'points'})"
          link
        >
          <v-list-item-icon>
              <v-icon>fa-chart-line</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Points</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      app
      class="primary"
      dark
    >
      <v-app-bar-nav-icon @click="drawer = true" v-if="$route.name !== 'login'"></v-app-bar-nav-icon>

      <v-toolbar-title>StuLife</v-toolbar-title>

      <v-spacer></v-spacer>
      <notifications/>
    </v-app-bar>

    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
import Notifications from './components/Notfications'
export default {
  name: 'App',
  components: { Notifications },
  computed: {
    drawer: {
      get () {
        return this.$store.state.user.drawer
      },
      set (value) {
        this.$store.commit('user/setDrawer', value)
      }
    }
  }
}
</script>
